// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    /** defcolor **/
	--ion-color-defcolor: #2836f0;
	--ion-color-defcolor-rgb: 40,54,240;
	--ion-color-defcolor-contrast: #ffffff;
	--ion-color-defcolor-contrast-rgb: 255,255,255;
	--ion-color-defcolor-shade: #2330d3;
	--ion-color-defcolor-tint: #3e4af2;
}