<ion-header>
  <ion-toolbar color="defcolor">
    <ion-title>clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="clientes-list">
    <ion-item *ngFor="let cliente of clientes" class="cliente-item">
      <ion-avatar slot="end" class="cliente-avatar">
        <img src="../../assets/imagenes/{{cliente.foto}}" />
      </ion-avatar>
      <ion-label>
        <h2 class="titulo">{{cliente.nombre}}</h2>
        <h3 class="texto">{{cliente.texto}}</h3>
        <p class="descripcion">{{cliente.descripcion}}</p>
      </ion-label>
      <ion-label *ngIf="cliente.estado; else desac">Activo</ion-label>
      <ng-template #desac><ion-label>Desactivado</ion-label></ng-template>
    </ion-item>
  </ion-list>
  <ion-button (click)="NavegarHome()">Ir a Home</ion-button>
</ion-content>