<ion-header>
  <ion-toolbar color="defcolor">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="8" sizeMd="4" sizeXs="3" sizesm><div class="texto">Texto 1</div></ion-col>
      <ion-col sizeLg="4" sizeMd="8" sizeXs="9" sizesm><div class="texto">Texto 2</div></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><div class="texto">Texto 3</div></ion-col>
      <ion-col><div class="texto">Texto 4</div></ion-col>
    </ion-row>
  </ion-grid>
  <ion-button [routerLink]="['/clientes']" class="btn">Ir a Clientes (routerLink)</ion-button>
</ion-content>
