ion-toolbar {
    background-color: var(--ion-color-defcolor);
}
.btn{
    background-color: var(--ion-color-defcolor-shade);
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    font-size: 15px;
}
#contenedor{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto{
 background-color:yellowgreen;
 text-align: center;
 padding-top: 20px;
 padding-bottom: 20px;
}